# ==============================
# Python ignores
# ==============================
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
*.pkl
*.sqlite3
.Python

# Virtual environments
.venv/
venv/
ENV/
env/
pip-wheel-metadata/
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# ==============================
# Editor / IDE ignores
# ==============================
.vscode/
.vscode-test/
.idea/
*.code-workspace

# VSCodium (same as VS Code)
*.history/

# ==============================
# OS-specific ignores
# ==============================
.DS_Store
.AppleDouble
.LSOverride
Icon?
Thumbs.db
ehthumbs.db
Desktop.ini

# ==============================
# Working Copy (iPad)
# ==============================
.Revisions/
.venv/
__pycache__/
.pytest_cache/

# ==============================
# 100 days of coding resources
# ==============================
.resources/
